<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hakretcode.stickynote">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppShell"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCNotepad"
        android:fullBackupOnly="false"
        android:allowBackup="false">
        <activity
            android:name="com.hakretcode.stickynote.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>